<div id="multi-info" style="
  width: 100%;
  text-align: center;
">
  {{#each info}}
  <h4 style="
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 95%;
    line-height: 25.6px;
    text-align: left;
    margin-bottom: 20px;
  ">
    {{{this}}}
  </h4>
  {{/each}}
</div>